// Color Variables
$primary-color: #0A4361;
$secondary-color: #E8F1F5;
$background-color: #F4F7FC;
$text-color: #0A4361;

// Font Variables
$font-family: 'Albert Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font Size Variables
$font-size-small: 16px;
$font-size-regular: 18px;
$font-size-large: 24px;
$font-size-title: 36px;

// Spacing & Layout
$line-height-regular: 1.5;
$line-height-large: 48px;
$letter-spacing-regular: 0.277px;
$letter-spacing-large: 0.5px;
$border-radius: 60px;
